/*variables*/

$colorPrincipal: rgb(56, 3, 92);
$colorSecundario: white ;
$colorTerciario: black;

/*fuentes*/
$fuentePrincipal: Arial, Helvetica, sans-serif;
$fuenteSecundaria: 'Franklin Gothic Medium';

/* condicional*/

$color: negro;




